.filter {
	font-family: "Lato"
}

.new-todo {
	position: relative;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	outline: none;
	color: inherit;
	border: none;
	padding: 0px 0px 0px 0px; 
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.search-button, .search-text {
	cursor: pointer;
	background-color: #3B4448;
	color: #FFFFFF;
	border: none;
}

.header {
	background-color: #3B4448;
	color: #FFFFFF;
}